# Supabase Configuration
# Get these values from your Supabase project settings
NEXT_PUBLIC_SUPABASE_URL=sb_publishable_ACJWlzQHlZjBrEguHvfOxg_3BJgxAaH
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_secret_N7UND0UgjKTVK-Uodkm0Hg_xSvEMPvz
